.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
    border-radius: 25px; 
}
.container{
    display: table-cell;
    vertical-align: middle;
}
body{
    background-color: #e2e2e2;
}
#resultado{
    margin: 20px;
}

.error{
    color:red;
}